<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatibus, facere ipsum odit optio,
        deleniti dolor blanditiis tempora velit sint quisquam quasi maiores? Corporis voluptate necessitatibus
        recusandae delectus asperiores dignissimos!
    </p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>