<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev-Cursos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>DEV-CURSOS</u></h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-course">CREAR CURSO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-courses">VER CURSOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-student">INSCRIBIR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-student">VER INSCRITOS</a>
                </li>                
            </ul>
        </div>
    </nav>
