<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HU NodeJS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h1>CURSOS</u></h1>
    </header>
    <nav>
        <a href="/">INICIO</a> |
        <a href="/create-course">CREAR CURSO</a> |
        <a href="/list-courses">VER CURSOS</a> |
        <a href="/create-student">INSCRIBIR</a> |
        <a href="/list-student">VER INSCRITOS</a> |
    </nav>