body{
    color: grey;
    font-family: arial;
    min-height: 100vh;
}

header{
    padding-top: 16px;
    padding-bottom: 48px;
    background-color: darkslategray;
}


footer{
    color: whitesmoke;
    background-color: black;
    border-top: 2px solid gray;
    margin-top: 16px;
}

h1{
    font-size: 48px;
    margin-bottom: 16px;
}