body{
    color: grey;
    font-family: arial;
    min-height: 100vh;
}

header{
    background-color: darkslategray;
    padding: 25px 10px 25px 10px
}


footer{
    color: whitesmoke;
    background-color: black;
    border-top: 2px solid gray;
    margin-top: 16px;
}

h1{
    font-size: 48px;
    margin-bottom: 16px;
}

.header-title{
    font-size: 30px;
    font-weight: bold;
    color: white !important;
}

.table-courses{
    font-weight: bold; 
    background-color: gray; 
    color:white;
}

.title-dev{
    font-size: 75px;
    font-weight: bold;
    height: 350px;
}

.width-100{
    width: 100%;
}