<footer>
    <div class="row border-top-0">
        <div class="col-sm-4">
            <h2 class="border-bottom">DEV-LEARN</h2>
        </div>
        <div class="col-sm-4">
            <h2 class="border-bottom">Contacto</h2>
                <ol class="padding-0">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Carrera 34 # 23 norte
                </ol>
                <ol class="padding-0">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    Correo: c4rlosc7@gmail.com
                </ol>
                <ol class="padding-0">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    Telefono: 3302224567
                </ol>
        </div>
        <div class="col-sm-4">
            <h2 class="border-bottom">Acerca de</h2>
            <p>Aplicación diseñara para el aprendizaje de nuevas tecnologias.</p>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>