{{>header}}

<section>
    <div class="container">
        <div class="row justify-content-sm-center">
            <h1>Crear nuevo curso</h1>
        </div>
        <form action="/save-course" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 border-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="idNameCourse" name="nameCourse" placeholder="Nombre del curso" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="idDescription" name="description" placeholder="Descripción" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="idCost" name="cost" placeholder="Costo" required>
                    </div>
                    <div class="form-group">
                        <label for="idModal">Modalidad</label>
                        <select class="form-control" id="idModal" name="modal">
                            <option>Presencial</option>
                            <option>Virtual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="idDuration" name="duration" placeholder="Duración" required>
                    </div>
                    <div class="form-group">
                        <label for="idState">Estado</label>
                        <select class="form-control" id="idState" name="state">
                            <option>Disponible</option>
                            <option>No disponible</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" id="idImagen" name="imagen" required>
                    </div>                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary width-100">Crear curso</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
    </div>    
</section>

{{>footer}}