{{>header}}
{{showCourse}}
<section>
    <div class="container-section">
        <div class="row justify-content-sm-center">
            <h1>Cursos disponibles</h1>
        </div>        
        
        {{saveCourse name description cost modal duration state imagen}}
        {{{getCoursesList courseList}}}
    </div>    
</section>

{{>footer}}
