{{>header}}

<section>
    <div class="container-section">
        <div class="row justify-content-sm-center">
            <h3>
                {{showCourse}}
            </h3>
        </div>
    </div>    
</section>

{{>footer}}
