{{>header}}

<section>
    <center class="title-dev" style="padding-top: 150px;">
        <div>
            <h1>CURSOS-DEV</h1>
        </div>
        <div>
            {{#if session}}
                <a class="btn btn-primary" href="/exit" role="button">Salir</a>
            {{else}}
                <a class="btn btn-primary" href="/form-register" role="button">Registrarse</a>
                <a class="btn btn-light" href="/form-login" role="button">Ingresar</a>            
            {{/if}}
        </div>        
    </center>
</section>

{{>footer}}
