{{>header}}
<h1>Calc</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nisi voluptate optio error,
    assumenda repellat odio possimus aut, ut, inventore voluptates. Perferendis aut excepturi dolor
    possimus. Totam excepturi quia sequi?
</p>
<h1>Student Average <u>{{student}}</u></h1>
<p>
    The average of student <u>{{student}}</u> is {{ getAverage note1 note2 note3}}
</p>
{{>footer}}