{{>header}}
<div class="container">
    <div class="row justify-content-sm-center">
        <h1>Crear nuevo curso</h1>
    </div>
    <form action="/save-course" method="post">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="form-group">
                    <label for="idNameCourse">Nombre del curso</label>
                    <input type="text" class="form-control" id="idNameCourse" placeholder="Nombre del curso" required>
                </div>
                <div class="form-group">
                    <label for="idDescription">Descripci贸n</label>
                    <input type="text" class="form-control" id="idDescription" placeholder="Descripci贸n" required>
                </div>
                <div class="form-group">
                    <label for="idCost">Costo</label>
                    <input type="text" class="form-control" id="idCost" placeholder="Costo" required>
                </div>
                <div class="form-group">
                    <label for="idModal">Modalidad</label>
                    <select class="form-control" id="idModal">
                        <option>Presencial</option>
                        <option>Virtual</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="idDuration">Duraci贸n</label>
                    <input type="text" class="form-control" id="idDuration" placeholder="Duraci贸n" required>
                </div>
                <div class="form-group">
                    <label for="idState">Estado</label>
                    <select class="form-control" id="idState">
                        <option>Disponible</option>
                        <option>No disponible</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary width-100">Crear curso</button>
                </div>
            </div>
        </div>
    </form>
    <br>
</div>
{{>footer}}